<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\Session">
        <plugin name="wika_group_after_session_logout_plugin" type="WikaGroup\AzureB2cSSO\Plugin\Customer\Session" />
    </type>
</config>
